.home-container {
    padding: 80px 20px 20px; /* Ajuste de padding-top para evitar la superposición con el header */
    font-family: Arial, sans-serif;
    color: #333;
    background-color: white;
  }
  
  
  .intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .text-content {
    max-width: 50%;
  }
  
  .text-content h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .text-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .register-buttons {
    display: flex;
    gap: 15px;
  }
  
  .register-button {
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .google-button {
    background-color: #4285f4;
  }
  
  .google-button:hover {
    background-color: #357ae8;
  }
  
  .email-button {
    background-color: #333;
  }
  
  .email-button:hover {
    background-color: #555;
  }
  
  .image-content img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .info-section {
    text-align: center;
  }
  
  .info-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .info-section p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .intro-section {
      flex-direction: column;
      text-align: center;
    }
  
    .text-content, .image-content {
      max-width: 100%;
    }
  
    .register-buttons {
      flex-direction: column;
      gap: 10px;
    }
  }
  