/* headerhor.css */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    position: fixed;
    top: 0;
    height: 60px;
    left: 250px; /* Espacio para la barra lateral */
    right: 0;
    transition: left 0.3s ease;
    z-index: 999;
  }
  
  /* Ajuste para el header cuando el menú está colapsado */
  .header-container.collapsed {
    left: 60px; /* Espacio para la barra lateral colapsada */
  }
  
  @media (max-width: 768px) {
    .header-container {
      left: 0; /* La barra lateral se ocultará en pantallas pequeñas */
      padding: 0.5rem 1rem;
    }
  }
  
  .search-bar-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1000px;
    padding: 8px 15px; /* Espacio para el icono de lupa */
    border-radius: 20px;
    border: 1px solid #ddd;
  }
  
  .faMagnifyingGlass {
    color: #333;
    display: flex;
  }
  
  .search-bar {
    outline: none;
    border: none;
    width: 100%;
    height: 30px;
    background-color: transparent;
    color: #333;
    font-size: medium;
  }
  
  .buttons-container {
    display: flex;
    gap: 10px;
    margin-left: 20px;
  }
  
  .button {
    padding: 8px 15px;
    font-weight: bold;
    width: 80px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sign-in-button {
    background-color: transparent;
    color: black;
    border: 0.5px solid transparent;
  }
  
  .sign-in-button:hover {
    color: #333;
    background-color: #dddcdc;
  }
  
  .register-button {
    background-color: #333;
  }
  
  .register-button:hover {
    background-color: #555;
    color: aliceblue;
  }
  
  /* Responsive para pantallas pequeñas */
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
      padding: 10px;
      left: 100px;
    }
  
    .search-bar-container {
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .buttons-container {
      padding-bottom: 10px;
    }
  }
  